.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    padding: 0 16px;
    visibility: visible;
}

.gallery-item {
    display: flex;
    flex-direction: column;
    border: 1px solid #808080;
}

.gallery-item a {
    display: block;
}

.gallery-item a img {
    height: 152px;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
}

.image-statistics-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 16px;
}

.image-statistics-list-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-statistics-list-item h3 {
    color: #2E2F42;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0.48px;
}

.image-statistics-list-item p {
    color: #2E2F42;
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.48px;
}

.spinner {
    display: none;
    visibility: hidden;
}

.spinner.loading {
    display: block;
    margin: 0 auto;
    visibility: visible;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #4E75FF;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
