.section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px 16px;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.search-form-input {
    width: 272px;
    color: #2E2F42;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.64px;
    padding: 8px 16px;
    border-radius: 4px;
    border: 1px solid #808080;
    outline: none;
}

.search-form-input::placeholder {
    color: #808080;
}

.search-form-input:hover {
    border-color: #000;
}

.search-form-input:focus {
    border-color: #4E75FF;
}

.button {
    display: inline-flex;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: #4E75FF;
    border: none;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.64px;
    cursor: pointer;
}

.button:hover {
    background: #6C8CFF;
}

.load-more-button {
    display: none;
    visibility: hidden;
    margin: 0 auto;
}

.load-more-button.active {
    display: inline-flex;
    visibility: visible;
}
